In [57]:
# dependencies and set up
from sqlalchemy import create_engine,text
import pandas as pd
from matplotlib import pyplot as plt

# from config import username, password

# Replace 'username' and 'password' with your PostgreSQL username and password, if applicable.
# If you don't have a username and password, you can remove them from the URL.
# engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/sql_challenge')
engine = create_engine('postgresql://postgres:admin123@localhost:5432/sql_challenge')

# Establish a connection to the database
connection = engine.connect()

In [59]:
query = "SELECT * FROM titles"

In [60]:
titles = pd.DataFrame(engine.connect().execute(text(query)))

In [44]:
# set command to a variable
cmd = "SELECT * FROM salaries"

In [17]:
# read table
df = pd.read_sql(cmd, con=engine)

AttributeError: 'OptionEngine' object has no attribute 'execute'

In [ ]:
df.head()

NameError: name 'df' is not defined

In [ ]:
# histogram of most common salary ranges for employees
df["salary"].hist(color="mediumseagreen")
plt.title("Salary Ranges for Employees")
plt.xlabel("Annual Salary")
plt.ylabel("Number of Employees")
plt.savefig("images/histogram_salaries.png")
plt.show()

In [ ]:
# set command to variable
cmd_title_salary = "SELECT * FROM avg_salaries_by_title ORDER BY avg_salary ASC"

In [ ]:
# convert view to dataframe
salary_df = pd.read_sql(cmd_title_salary, con=engine)

In [ ]:
# show df
salary_df.head()